{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block monTitre %}
Page non trouvée
{% endblock %}

{% block body %}
<h1>La page demandée est introuvable</h1>

{% endblock %}
